<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ordertogether">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="google.com" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".PasswordResetActivity">
        </activity>
        <activity android:name=".SignUpActivity">
        </activity>
        <activity android:name=".ChatActivity">
        </activity>
        <activity android:name=".ChatAdapter">
        </activity>
        <activity android:name=".ChatMessageDTO">
        </activity>
        <activity android:name=".ChattingRoomManager">
        </activity>
        <activity android:name=".ChickenActivity">
        </activity>
        <activity android:name=".ChickenShare">
        </activity>
        <activity android:name=".ChineseActivity">
        </activity>
        <activity android:name=".ChineseShare">
        </activity>
        <activity android:name=".DosirakActivity">
        </activity>
        <activity android:name=".DosirakShare">
        </activity>
        <activity android:name=".GpsTracker">
        </activity>
        <activity android:name=".KoreanActivity">
        </activity>
        <activity android:name=".KoreanShare">
        </activity>
        <activity android:name=".PizzaActivity">
        </activity>
        <activity android:name=".PizzaShare">
        </activity>
        <activity android:name=".Share">
        </activity>
        <activity android:name=".Board">
        </activity>
        <activity android:name=".ChineseBoard">
        </activity>
        <activity android:name=".ChineseWriteActivity">
        </activity>
        <activity android:name=".ChickenBoard">
        </activity>
        <activity android:name=".ChickenWriteActivity">
        </activity>
        <activity android:name=".PizzaBoard">
        </activity>
        <activity android:name=".PizzaWriteActivity">
        </activity>
        <activity android:name=".KoreanBoard">
        </activity>
        <activity android:name=".KoreanWriteActivity">
        </activity>
        <activity android:name=".DosirakBoard">
        </activity>
        <activity android:name=".DosirakWriteActivity">
        </activity>
    </application>

</manifest>